<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../images/me.JPG" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Steve Sultan</h5>
                  <p class="card-text">Software Developer </p>
                  <br>
                  <p class="card-text">Emial: SteveSultan@outlook.com </p>
                  <br>
                  <a href="../Assets/resume.pdf" class="btn btn-primary">Resume</a>
                  <a href="https://www.linkedin.com/in/stevesultan/" class="btn btn-primary">LinkedIn</a>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>