<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


  
  <!--Main Content-->
<div class="mx-auto" style="width: 500px";>
  <h1 id="welcome">Welcome !</h1>
  <br>
  <p id="subtitle">This is Steve's personal web page</p>
  <hr class="my-4">
  <p id="body">Do you want to know more about me?  Please click Learn more button below </p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
