<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<main class="container">
            <h2>My resent projects: </h2>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card">
                    <img src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png" class="card-img-top" alt="node project">
                    <div class="card-body">
                    <h5 class="card-title">Node.JS+Express Web</h5>
                    <p href="https://github.com/SteveSultan/WebAppDev_COMP229_A1" class="btn btn-primary">Github Repo</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                
                <div class="card">
                    <img src="https://blog.nerdjfpb.com/wp-content/uploads/2020/07/Javascript-projects-ideas-1-1200x580.png" class="card-img-top" alt="python">
                    <div class="card-body">
                    <h5 class="card-title">Python Django Web App</h5>
                    <p href="https://github.com/SteveSultan/Python_Project" class="btn btn-primary">Github Repo</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 month ago</small></p>
                    </div>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card">
                    <img src="https://sqlperformance.com/wp-content/uploads/2020/03/tr-azure-tiering-feat.png" class="card-img-top" alt="db project">
                    <div class="card-body">
                    <h5 class="card-title">Back-End DB for Gym Resgistery</h5>
                    <p href="https://github.com/SteveSultan/Gym_Database_Project" class="btn btn-primary">Github Repo</p>
                    <p class="card-text"><small class="text-muted">Last updated 5 month ago</small></p>
                    </div>
                </div>
            </div>
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>