<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--card group-->
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/proxy/_vxOFCzFHZ85qyI18pwmHb2F1r1zW17eXn5fwtENpPg5FTjZxbiN1be7VW4AtMFHcx1dx-Qn3Po1UMNn_byMUmRD9wHMdEdlXnvKy_5SOF4mt--2m7KgiGcnSxRI" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Full Stack Web Development</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://appinventiv.com/wp-content/uploads/sites/1/2019/08/OTT-Video-App-Development-Basics-Types-Market-Features-Cost.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mobile App Development</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://lh3.googleusercontent.com/proxy/cgdFcerkdiySzp30WS1r6tvMua9HirD-usPSuTB38aCZsrc2oXF7baTGsxLStWR60FVr1Nj5ysYCs2bVeNUPPiwOe7XLg9o5ZOSVNVXrBLfP4WGENH_QmA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Management</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://storage.googleapis.com/wzsitethumbnails/site-48060639/800x500.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Database Design and Development</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>